.blog__post__header
	h1
		text-transform uppercase

.comments__list
	list-style none

.comments__list_item
	border-radius 5px
	border 1px solid b_silver
	padding .5rem
	margin-bottom .5rem

.comment__author
	font-weight bold

.comment__body
	font-style italic

.comment__foot
	text-align right
