<div class="return__home">
	<a ng-href="/">Return Home</a>
</div>
<section class="user">
	<h1>User Information</h1>
	<ul>
		<li>Name: {{userdetail.user[0].name}}</li>
		<li>Username: {{userdetail.user[0].username}}</li>
		<li>email: {{userdetail.user[0].email}}</li>
		<li>web: {{userdetail.user[0].website}}</li>
		<li>phone: {{userdetail.user[0].phone}}</li>
	</ul>

	<h6>Note: all the markers are in the water</h6>
	<ui-gmap-google-map center='userdetail.map.center' ng-init='center="{latitude: -26.8190099, longitude: -65.2204087}"'  zoom="userdetail.map.zoom">
		<ui-gmap-marker
			idKey='userdetail.marker.id'
			coords='userdetail.marker.coords'
			>
			<ui-gmap-window options="userdetail.windowOptions" closeClick="userdetail.closeClick()">
				<div>{{userdetail.title}}</div>>
			</ui-gmap-window>
		</ui-gmap-marker>

	</ui-gmap-google-map>
</section>
